*,
*::before,
*::after {
  box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 0.625em;
    font-size: calc(1em * 0.625);
    min-height: 100vh;
    display: flex;
}

body {
    margin: auto;
    min-width: 100%;
    line-height: 1.5;
    font-size: 1.6rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}